@using Newtonsoft.Json
@using Service.MangaOnline.Commons
@using Service.MangaOnline.ResponseModels

@{
    Layout = "_Layout";
	ViewData["title"] = "truyen";
	var manga = (MangaResponse)ViewData["manga"]!;
}

<link rel="stylesheet" href="~/css/DetailManga.css">

<!-- details -->
<section class="section details">
	<!-- details background -->
	<div class="details__bg" data-bg="/lib/img/home/home__bg.jpg"></div>
	<!-- end details background -->

	<!-- details content -->
	<div class="container">
		<div class="row">
			<!-- title -->
			<div class="col-12">
				<h1 class="details__title">@manga.Name</h1>
			</div>
			<!-- end title -->

			<!-- content -->
			<div class="col-10">
				<div class="card card--details card--series">
					<div class="row">
						<!-- card cover -->
						<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
							<div class="card__cover">
								<img src="/image/manga-image/@manga.Image" alt="@manga.Name"/>
							</div>
						</div>
						<!-- end card cover -->

						<!-- card content -->
						<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
							<div class="card__content">
								
								<ul class="card__meta">
									<li><span><i class="fa fa-user"></i> Tác giả: </span>@manga.AuthorName</li>
									<li>
										<span><i class="fa fa-rss"></i> Tình trạng: </span>
										@{
											var statusString = manga.Status switch
											{
												0 => "Hoàn thành",
												1 => "Đang cập nhật",
												2 => "Dừng cập nhật",
												_ => ""
											};
										}
										@statusString
									</li>
									<li>
										<span><i class="fa fa-tags"></i> Thể loại:</span>
										@{
											var categories = manga.CategoryMangas;
											foreach (var category in categories!)
											{
												<a asp-page="/Public/CategoriesList" asp-route-cateName="@category.Name">@category.Name</a>
											}
										}
									</li>
									<li><span><i class="fa fa-eye"></i> Lượt xem: </span>@manga.ViewCount</li>
								</ul>

								<div class="card__description card__description--details">
									@manga.Description
								</div>
							</div>
						</div>
						<!-- end card content -->
					</div>
					<div class="follow">
							<div id="not-follow">
								<input id="mangaId" value="@manga.Id" hidden/>
								<button onclick="follow()" class="button-follow">
									<i class="fa fa-heart"></i>
									<span>Theo dõi</span>
								</button>
								<span><b>@manga.FollowCount</b> Lượt theo dõi</span>
							</div>

						 <div  id="da-follow" style="display: none"> 
							<button onclick="unFollow()" class="button-unfollow"> 
						 			<i class="fa fa-times"></i>
									<span>Bỏ theo dõi</span>
						 	</button>
						 	<span><b>@manga.FollowCount</b> Lượt theo dõi</span>
						 </div> 
						<a id="add-chapter" style="display: none" href="/Manager/ViewAddChapter?id=@manga.Id" class="link-button">Thêm chapter</a>
					</div>
					
				</div>
			</div>
			<!-- end content -->
			
			<!-- accordion -->
            <div class="col-12 col-xl-6">
            	<div class="card-body">
            		<table class="accordion__list">
            			<thead>
            				<tr>
            					<th>Số chương</th>
            					<th>Tên</th>
            					<th>Cập nhật</th>
            				</tr>
            			</thead>
			            <tbody>
			            @if (manga.Chapteres!=null)
			            {
				            foreach (var chapter in manga.Chapteres)
				            {
					            <tr>
						            <th>@chapter.ChapterNumber</th>
						            @if (chapter.Status==(int)ChapterEnum.Normal)
						            {
							            <td>
								            <a href="/Public/detailChapter?id=@chapter.Id" class="chapter_name">@chapter.Name</a>
							            </td>
						            }
						            else
						            {
							            <td style="display: flex" class="disabled">
								            <a href="/Public/detailChapter?id=@chapter.Id" class="chapter_name">@chapter.Name</a>
								            <p style="
                                                color: yellow;
                                                margin: 0px;
                                            ">Vip</p>
								            <div class="td-vip" style="background: black;width: 19%; position: absolute;
                                               height: 21px;opacity: 0.3;"></div>
							            </td>
						            }
						            <td>@chapter.CreatedAt.ToString("dd/MM/yy")</td>
					            </tr>
				            }
			            }
			            </tbody>
            		</table>
            	</div>
            </div>
            <!-- end accordion -->
		</div>
	</div>
	<!-- end details content -->
</section>
<!-- end details -->


<script>
	
	if(GetUserData()!=null){
        const role = GetUserData().role;
		if (role==='Admin'){
			$('#add-chapter').show();
		}
		if (role==='Admin'||role==='UserVip'){
			$('.td-vip').hide();
		}
	}
   

	 $(document).ready(function() {
		checkFollow();
	 })

	 const renderBtnFollow = (check)=>{
		if(check){
			$("#da-follow").hide();
		    $("#not-follow").show();
		}else{
			$("#not-follow").hide();
		    $("#da-follow").show();
		}
	 }
	
	 const follow=()=>{
		if(GetUserData()!=null){
			 var mangaId = $("#mangaId").val();
			 var user = GetUserData();
				 $.ajax({
					url: urlServiceManga + `/Manga/FollowManga?userId=${user.userId}&mangaId=${mangaId}`,
					type:"post",
					success: function (result) {
						checkFollow();
						ShowNotificationSuccess("Đã thêm vào danh sách theo dõi");
	
					}
				});
		}else {
			window.location.href = 'http://localhost:5030/Auth/AuthLogin';
		}
	 }

	  const unFollow=()=>{
		 var mangaId = $("#mangaId").val();
		 var user = GetUserData();
		     $.ajax({
                url: urlServiceManga + `/Manga/FollowManga?userId=${user.userId}&mangaId=${mangaId}`,
				type:"delete",
                success: function (result) {
					console.log("result un f",result);
					checkFollow();
					ShowNotificationSuccess("Đã xoá khỏi danh sách theo dõi");
                }
            });
	 }

	 const checkFollow=()=>{
		if(GetUserData()!=null){
			 var mangaId = $("#mangaId").val();
			 var user = GetUserData();
				 $.ajax({
					url: urlServiceManga + `/Manga/CheckFollowManga?userId=${user.userId}&mangaId=${mangaId}`,
					success: function (result) {
						console.log("result",result);
					   renderBtnFollow(!result.data);
					}
				});	
		}
	 }
	
</script>
<script src="~/js/Notification.js"></script>